.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 3px;
    background:
        linear-gradient(to right, #f1d248, #e87d32, #e43069, #bb25bc, #6d3ce9) padding-box,
        #eaeaea content-box;
    border: 5px solid transparent;
}


.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100px;
}